# Binaries for programs
*.exe
*.test
*.prof

# Environment variables
.env

# IDE-specific files
.vscode/

# Go module cache
vendor/
terraform/.terraform/
*.tfvars

.vscode/
terraform/gcp-sa-key.json
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
main
