apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-go
  namespace: todo-app
  labels:
    app: todo-app-go
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-app-go
  template:
    metadata:
      labels:
        app: todo-app-go
    spec:
      serviceAccountName: todo-app-sa
      containers:
      - name: todo-app-go
        image: todo-app-go
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "250m"
            memory: "256Mi"
        ports:
        - containerPort: 8080
        env: []
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5

      - name: cloudsql-proxy
        image: gcr.io/cloud-sql-connectors/cloud-sql-proxy:latest
        args:
          - "--structured-logs"
          - "--auto-iam-authn"
          - "smcghee-todo-p15n-38a6:us-central1:todo-app-db-instance?port=5432"
          - "smcghee-todo-p15n-38a6:us-central1:todo-app-db-instance-replica?port=5433"
        securityContext:
          runAsNonRoot: true
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
