name: Build and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.22.x' # Use the version of Go specified in go.mod or Dockerfile

    - name: Build Go application
      run: |
        CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o main .

    - name: Run Go tests
      run: go test -v ./...

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Google Auth
      id: auth
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Configure Docker to push to Artifact Registry
      run: gcloud auth configure-docker ${{ vars.GCR_HOSTNAME }}

    - name: Build and Push Docker image
      env:
        IMAGE_NAME: todo-app-go
        IMAGE_TAG: ${{ github.sha }}
        GCR_HOSTNAME: ${{ vars.GCR_HOSTNAME }}
        GCP_PROJECT_ID: ${{ steps.auth.outputs.project_id }}
      run: |
        docker build -t $GCR_HOSTNAME/$GCP_PROJECT_ID/$IMAGE_NAME:$IMAGE_TAG .
        docker push $GCR_HOSTNAME/$GCP_PROJECT_ID/$IMAGE_NAME:$IMAGE_TAG

    - name: Install kubectl
      uses: azure/setup-kubectl@v3 # Using Azure's action as it's common and reliable

    - name: Get GKE credentials
      uses: google-github-actions/get-gke-credentials@v2
      with:
        cluster_name: ${{ vars.GKE_CLUSTER_NAME }}
        location: ${{ vars.GKE_CLUSTER_LOCATION }} # This will be the zone (e.g., us-central1-a)
        project_id: ${{ steps.auth.outputs.project_id }}

    - name: Apply Kubernetes manifests
      run: |
        # Replace placeholders in the deployment manifest
        sed -i "s|gcr.io/${PROJECT_ID}/todo-app-go:latest|$GCR_HOSTNAME/$GCP_PROJECT_ID/$IMAGE_NAME:$IMAGE_TAG|g" k8s/deployment.yaml
        sed -i "s|\${INSTANCE_CONNECTION_NAME}|${{ vars.GKE_SQL_INSTANCE_CONNECTION_NAME }}|g" k8s/deployment.yaml
        kubectl apply -f k8s/
